.header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 75px;
    border: 1px solid gray;
}

.header-button {
    display: flex;
    flex-direction: column;
}