<div class="wrapper">
    <div class="header">
        <h2>Todo List for {{ email }}</h2>
        <div class="searchbar">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText [(ngModel)]="searchSelection" (ngModelChange)="onSearchChange($event)" placeholder="Search">
            </span>
            <p-dropdown [options]="sortOptions" [(ngModel)]="sortSelection" placeholder="Sort By" optionValue="name" optionLabel="name"
                [showClear]="true" (onChange)="onSortChange()"></p-dropdown>
            <button pButton pRipple type="button" label="Add" class="p-button-raised" (click)="onAdd()"></button>
        </div>
    </div>
    <div class="table-wrapper">
    <div *ngIf="todoItems$ | async as todoItems">
        <p-table [value]="todoItems" selectionMode="single" [(selection)]="selectedTodoItem"
            (onRowSelect)="onRowSelect()">
            <ng-template pTemplate="header">
                <tr>
                    <th>Due Date</th>
                    <th>Date Added</th>
                    <th>Task</th>
                    <th>Priority</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-todoItem>
                <tr [pSelectableRow]="todoItem">
                    <td>{{ todoItem.dueDate | date }}</td>
                    <td>{{ todoItem.dateAdded | date }}</td>
                    <td>{{ todoItem.task }}</td>
                    <td>{{ todoItem.priority }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                Please add a Todo Item to get started
            </ng-template>
        </p-table>
    </div>
    </div>
</div>
<p-sidebar [(visible)]="editing" (onHide)="selectedTodoItem = null" appendTo="body" [style]="{width:'50%'}">
    <app-edit-item *ngIf="!!selectedTodoItem" [todoItem]="selectedTodoItem" (action)="onSidebarHide()"></app-edit-item>
</p-sidebar>