<div class="page-wrapper">
    <h3>Enter your email and password to sign in</h3>
    <form id="loginform" class="form-layout" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            <label class="label" for="email">Email</label>
            <input id="email" pInputText type="email" formControlName="email">
        </div>
        <div>
            <label class="label" for="password">Password</label>
            <input id="password" pInputText type="password" formControlName="password">
        </div>

        <div class="button-row">
           <button id="submit" pButton pRipple type="submit" [disabled]="!form.valid" label="Sign in" class="p-button-raised"></button>
        </div>
    </form>
    <a routerLink="auth/signup">Switch to Signup</a>
    <div *ngIf="errorMessage !== ''">{{errorMessage}}</div>
</div>
